@import "bootstrap-sprockets";
@import "bootstrap";

/* define variables */
$black: #222222;
$light_blue_4: #68838B;
/* universal */
body{
  padding-top: 60px;
   background-color: lightblue;
}
.center{
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}
textarea{
  resize: vertical;
}
// .center h1{
//   margin-bottom: 10px;
// }
section{
  overflow: auto;
}

/* typography */
h1, h2, h3, h4, h5, h6{
  line-height: 1;
}
h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light_blue_4;
}
p{
  line-height: 1.7em;
  font-size: 1.1em;
}
// .img{
//   display: none;
//   margin-left: auto;
//   margin-top: auto;
// }
div.anhconmeo img {
    width: 50%;
    height: auto;
}

/*  header */
// #logo:hover{
//   color: #fff;
//   text-decoration: blink;  //nhấp nháy
// }
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: #fff;
    text-decoration: blink;  //nhấp nháy
  }
}
 /* footer */
 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-4 {
  width: 33.33333333%;
  position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  text-align: right;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: $black;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous*/

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include  box-sizing;
}

/* sidebar */
aside {
  section.user_info{
    margin-top: 20px;
  }
}
section {
  padding: 10px 0;
  margin-top:  20px;
  &:first-child{
    border: 0;
    padding-top: 0;
  }
  span{
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1{
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit{
  margin-top: 15px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation{
   color: red;
   ul{
     color: red;
     margin:  0 0 30px 0;
   }
 }
 .field_with_errors{
   @extend .has-error;
   .form-control {
     color: $state-danger-text;
   }
 }
 .checkbox {
   margin-top: -10px;
   margin-bottom: 10px;
   span {
     margin-left: 20px;
     font-weight: normal;
   }
 }

 #session_remember_me {
   width: auto;
   margin-left: 0;
 }
